# Python data type

In [3]:
# <- comments
# Python interpreter ignore lines start with #

In [6]:
print('Hello, everyone!')

Hello, everyone!

In [7]:
'Hello, everyone!'

'Hello, everyone!'

# Basics
### Assigning variables

In [9]:
age = 34
height = 158

In [10]:
age, height = 20, 170 #multiple assignments in one line

### Printing
The print() function prints the specified message to the screen, or other standard output device.
The message can be a string, or any other object, the object will be converted into a string before written to the screen.

In [11]:
print(age)

20

In [12]:
print(age, height)

20 170

In [13]:
print('age  =  ', age) #concatenate arguments

age  =   20

In [ ]:
age
height

### dynamic typing

In [14]:
type(age)

int

In [15]:
age = 'twenty'
type(age) # type of age is now changed

str

### Python is 'Strong typing'

In [18]:
introduce = 'I am ' + age # OK
print(introduce)

I am twenty

In [19]:
introduce = 'I am ' + 20 # error. You cannot concatenate string and integer.

TypeError: can only concatenate str (not "int") to str

In [20]:
introduce = 'I am ' + str(20) # Okay.
print(introduce)

I am 20

In [21]:
type(str(20))

str

# Scalar data types
### boolean

In [22]:
yes = True
no = False

print(yes); print(int(yes)) 
print(no); print(int(no))

True
1
False
0

### int, float

In [23]:
a = 10; print(type(a))
b = 10.0; print(type(b))

<class 'int'>
<class 'float'>

### math

In [24]:
a = 42
b =  4

a/b # devision: always a float is returned.

10.5

In [25]:
a//b # floor division

10

In [26]:
a % b # remainder

2

In [27]:
a**b # exponentiation(a to the b-th power)

3111696

### Assigning priority

In [28]:
c = 10
c = c + 10 # update value c
print(c)

20

In [ ]:
c += 10 # Pythonic way c = c + 10
print(c)

### Accuracy of int and float
int: can be any length

In [29]:
a = 1234567893456789456789345678
print(a + 1)

1234567893456789456789345679

Floating point number: accurate up to 15 decimal places

In [30]:
a = 2
print(10**(-1))
a += 10**(-1)
a += 10**(-1)
a += 10**(-1)
print(a)

0.1
2.3000000000000003

### Change type

In [ ]:
print(True); print(type(True)); print(int(True))

In [ ]:
True + 1 # type 'bool' is subclass of 'int'

In [ ]:
int(34.8) # below decimal point will be omitted

In [ ]:
int('11') # number written in str -> int

In [ ]:
int('twenty') # Error

### comparison operators (it returns True or False)

In [31]:
x = 10
x > 5

True

In [32]:
5 < x < 20

True

In [33]:
5 < x and x < 20

True

In [34]:
x >100 or x < 15

True

### Mutable vs. Immutable
- Immutable

In [35]:
a = 3
b = a
print(b)

3

In [36]:
a = 4
print(b)

3

- Mutable

In [37]:
a = [1, 100]
b = a
print(b)

[1, 100]

In [38]:
a[0] = 100
print(a)
print(b)

[100, 100]
[100, 100]

## Differences between '==', 'is'
- == : equality
- is : identity (i.e., same object or not)

In [39]:
a = 10
b = 10
c = 10.0

a == b

True

In [40]:
a == c

True

In [41]:
a is b

True

In [42]:
a is c

False

In [ ]:
a = ['a']
b = ['a']
a == b # they have same value

In [ ]:
a is b # they are not the same object

# Sequence types

## String
### Generate string

In [ ]:
"Oldenburg" # double quoto
'Oldenburg' # single quoto

In [ ]:
'"Hey!", she said.' # String contains quoto

In [ ]:
long_sentence = """ This is a 
long long long....
                    sentence """
print(long_sentence)

In [ ]:
## change other type to string
str(10.2)

In [ ]:
str(True)

## How to handle string

### Escape \

In [ ]:
#print("First sentence\nNext sentence") #next line
#print("First sentence \t Next sentence") # tab
#print("\"First sentence\"\tNext sentence") # quotation
print("First sentence\\Next sentence") # backspace

### add strings using +

In [ ]:
"Taehee"+" Kim"

In [ ]:
vorName = "Taehee"
vorName + " Kim"

## Slicing
### seq[start: end: step] -> work for any sequence such as list, tuple, string

In [ ]:
numbers = "0123456789"
print(len(numbers))
print(numbers)# check the length of string

In [ ]:
numbers[0]

In [ ]:
numbers[1:]

In [ ]:
numbers[:2] # it prints end-1, in this case 2-1=1

In [ ]:
numbers[-2:] # negative indices are count from the back (-1 = len(seq) -1)

In [ ]:
numbers[::3]

In [ ]:
numbers[::-1] # step backward

In [ ]:
numbers[0] = "n" # Error: because string is immutable -> replace(), slicing etc

In [ ]:
"n"+numbers[1:] # We can use slicing method

### split() and join()

- split(): split a string based on argument( such as ',') and store into a list
- join(): opposite function to split

In [43]:

animals = "dog, cat, bird"
print(animals)
animals_split = animals.split(',') # split when there is ','
print(animals_split)

dog, cat, bird
['dog', ' cat', ' bird']

In [ ]:
numbers

In [ ]:
animals.split() # split when there is a space

In [ ]:
"Guten Tag".split()

In [ ]:
''.join(animals_split) # ',' <- string you want to put between

## List : Mutable, order is preserved, contains arbitrary types
### Create list: [ ] or list()

In [44]:
weekdays = ['Mon','Tue','Wed','Thu']
print(weekdays)

['Mon', 'Tue', 'Wed', 'Thu']

In [45]:
list_any_type = ['cat',1,10.5,True]
print(list_any_type)

['cat', 1, 10.5, True]

In [47]:
list_any_type[3]

True

In [48]:
type(list_any_type[3])

bool

In [49]:
empty_list = []
empty_list

[]

### change other type to list: list()

In [50]:
list("abcdefg")

['a', 'b', 'c', 'd', 'e', 'f', 'g']

### Slicing (same as string example)

In [51]:
weekdays[0]

'Mon'

In [52]:
weekdays[0:2]

['Mon', 'Tue']

### Nested list, i.e., list in list
Note: you can handle matrix using libraries, Numpy and Pandas which will be introduced later

In [53]:
list_a = [1,2,3]
list_b = ['cat','dog','bird']
list_all = [list_a, list_b]
list_all

[[1, 2, 3], ['cat', 'dog', 'bird']]

In [54]:
col_names = ['Country','Name','Born','Party']
germany = ['Germany','Angela Merkal', 1954, 'CDU']
us = ['United States', 'Donald Trump', 1946, 'Republican']
france = ['France','Emmanuel Macron', 1977, 'REM']

head_of_gov = [col_names, germany, us, france]
head_of_gov # matrix

[['Country', 'Name', 'Born', 'Party'],
 ['Germany', 'Angela Merkal', 1954, 'CDU'],
 ['United States', 'Donald Trump', 1946, 'Republican'],
 ['France', 'Emmanuel Macron', 1977, 'REM']]

In [55]:
head_of_gov[3][0]

'France'

In [56]:
germany

['Germany', 'Angela Merkal', 1954, 'CDU']

### List is mutable! So we can change,add, and delete elements

In [ ]:
# change
germany[1] = 'Angela Merkel' # change. -> head_of_gov[1][1] = 'Angela Merkel'
head_of_gov

In [57]:
# append()
germany.append('Chancellor')
print(germany)

['Germany', 'Angela Merkal', 1954, 'CDU', 'Chancellor']

In [58]:
# extend() vs. append
more_info = [2005, 'Female']
germany.append(more_info) #if you use append, 'more_info' would be treated as one element
germany

['Germany', 'Angela Merkal', 1954, 'CDU', 'Chancellor', [2005, 'Female']]

In [59]:
# del vs. remove
del germany[-1] # delete it!
print(germany)

['Germany', 'Angela Merkal', 1954, 'CDU', 'Chancellor']

In [ ]:
germany.remove('Chancellor')
print(germany)

In [60]:
germany.extend(more_info)

In [61]:
print(germany)

['Germany', 'Angela Merkal', 1954, 'CDU', 'Chancellor', 2005, 'Female']

### index(), in, count
- index():check position of an element in a list
- in : check if an element exists in a list
- count: count an element

In [ ]:
'CDU' in germany

In [ ]:
germany.index('CDU')

In [ ]:
germany[3]

In [ ]:
germany.count('CDU')

In [ ]:
len(germany)

### how to copy list
- list type is 'mutable'
- copy a list as a new list: 1) copy( ), 2) list( ), 3) [:]

In [ ]:
a = [1,2,3]

b = a.copy()
c = list(a)
d = a[:]

In [ ]:
a[0] = 'Hello!'
print(a)
print(b)
print(c)
print(d)

### sort() and sorted()

In [ ]:
a = [1,4,2,3,6]
a.sort() # sort an object 'a' itself
a

In [ ]:
a.sort(reverse=True)
a

In [ ]:
sorted_a = sorted(a) # store sorted result in another object

In [ ]:
sorted_a

In [ ]:
a # a's order remain the same

## Tuple: Immutable. You cannot change, add, delete an element
### () or tuple()

In [ ]:
# Change tuple to list
t1 = ("a","b","c") # create tuple
t2 = 1,2,3 # you can omit ()
print(t1)
print(t2)

### It is immutable

In [ ]:
t1[0] = "d" # we cannot change item of tuple

In [ ]:
t1_list = list(t1)
t1_list[0] = "d"
print(t1_list)

### Unpack (Tuple and list)

In [ ]:
d,e,f = t1
print(d)
print(e)
print(f)

In [ ]:
g,h,i = t1_list
print(g)
print(h)
print(i)

### Exchange values at once

In [ ]:
d,e,f = g,h,i
print(d)

## Dictionary : Store {key: value}. Mutable, the order is not preserved.
- create: {} dict()
- key should be immutable type, i.e., tuple, int, string (no list, dict, set)
- key duplication is not allowed

In [62]:
d = {'germany': 'Angela merkal'}
print(d)

{'germany': 'Angela merkal'}

In [63]:
# [key] : add and change element
d['us'] = 'Donald Trump'
print(d)

{'germany': 'Angela merkal', 'us': 'Donald Trump'}

In [64]:
# change element
d['germany'] = 'Angela Merkel'
print(d)

{'germany': 'Angela Merkel', 'us': 'Donald Trump'}

In [66]:
d['germany']

'Angela Merkel'

In [ ]:
# update()
other_dict = {'france': 'Emmanuel Macron', 'japan': 'Shinjiro Abe'}
d.update(other_dict)
print(d)

In [ ]:
# delete
'japan' in d    # check key 'japan' is in dictionary (note: not 'value')
del d['japan']  # delete key 'japan'
print(d)

In [ ]:
print(d.keys())    # get all keys (iterable)

In [ ]:
print(d.values())  # get all values (iterable)

In [ ]:
print(d.items())   # get all items in tuple (key: value) (iterable)

In [ ]:
d2 = d # create identical dictionary
d3 = d.copy() # copy and create another dictionary

In [ ]:
d['uk'] = 'Theresa May'
print(d2)
print(d3)

In [ ]:
# create dict using dict()
# you can create dict from any type of data which has two sequential elements
a = [[1,2],[2,3]]
dict(a)

## Set: Mutable
### create: set() or { values }

In [68]:
# Let's suppose there is a Twitter user A. 
#We have a list of users who retweeted A's post 
# in the past.
retweet_a = ['b','c','e','h','r','b','b','c','h']

In [71]:
# How many unique users in a list? 
#We can just use set().
retweet_a_set = set(retweet_a)
print(retweet_a_set)
len(retweet_a_set)

{'c', 'h', 'e', 'r', 'b'}

5

In [ ]:
# Let's suppose we also have retweet user list of user B.
retweet_b = ['a','c','a','h','z']

In [ ]:
# How many users were retweeted both A an B? -> Check 'intersection'
retweet_b_set = set(retweet_b)
#print(retweet_b_set)
print(retweet_a_set & retweet_b_set)
print(len(retweet_a_set & retweet_b_set))

In [ ]:
# Count all the unique users? -> check 'union'
print(retweet_a_set | retweet_b_set)
print(len(retweet_a_set | retweet_b_set))

In [ ]:
# Inclusion
retweet_a_set >= retweet_b_set